@import './flexboxgrid.scss';

.standing-tab {
	padding: 5px 0;
	background-color: $white-lilac;
	border-right: 1px solid $black-russian;
	&:last-child {
		border: none;
	}
	&.active {
		background-color: $bright-grey;
		color: $white;
	}
	&:hover {
		cursor: pointer;
		&.active {
			cursor: default;
		}
	}
}

.team-position {	
	padding: 16px 0;
	&.cl {
		background-color: $prussian-blue;
		color: $white;
	}
	&.cl-po {
		background-color: $cobalt;	
		color: $white;
	}
	&.el {
		background-color: $olive;		
		color: $white;
	}
	&.el-po {
		background-color: $light-olive;			
		color: $white;
	}
	&.rel {
		background-color: $maroon;
		color: $white;
	}
	&.rel-po {
		background-color: $sangria;
		color: $white;
	}
}

.teams-list {
	margin-top: 0;
}

.team > div:not(.team-name, .team-position) {
	margin: auto 0;	
}

.team-name > div {
	padding: 6px;
}

.teams-list li:nth-child(odd) .team {
	background-color: $very-light-grey;
}

.teams-list li:nth-child(even) .team {
	background-color: $white-lilac;
}

.teams-list li {
	border-bottom: 1px solid $black;
}

.legend {
	background-color: $dark-grey;
	.text {
		color: $black-russian;
	}
	>.row {
		padding: 5px 10px;
	}
	.indicator {
		max-width: 80px;
		height: 40px;
		border: 1px solid $very-light-grey;
		&--cl {
			background-color: $prussian-blue;		
		}
		&--cl-po {
			background-color: $cobalt;			
		}
		&--el {
			background-color: $olive;	
		}	
		&--el-po {
			background-color: $light-olive;
		}
		&--rel {
			background-color: $maroon;	
		}
		&--rel-po {
			background-color: $sangria;
		}	
	}

}


.competition {
	position: relative;
	max-width: 20%;
	flex-basis: 20%;
	background-color: $white-lilac;
	padding: 10px;
	border-right: 6px solid $white;
	text-decoration: none;
	&:last-child {
		border: none;
	}
	&:hover {
		cursor: pointer;
	}

	&.selected {
		&.pl {
			background-color: $persian-indigo;
			&:after {
				border-color: $persian-indigo transparent transparent;
			}
		}
		
		&.pd {
			background-color: $prussian-blue;
			&:after {
				border-color: $prussian-blue transparent transparent;
			}
		}

		&.fl1 {
			background-color: $nepal;
			&:after {
				border-color: $nepal transparent transparent;
			}
		}

		&.bl1 {
			background-color: $brown;
			&:after {
				border-color: $brown transparent transparent;
			}
		}

		&.sa {
			background-color: $salem;
			&:after {
				border-color: $salem transparent transparent;
			}
		}

		color: $white;
		cursor: default;
		&:after {
			content: "";		
			position: absolute;
			width: 0;
			height: 0;
			bottom: -10px;
			left: 50%;
			margin-left: -15px;
			border-style: solid;
			border-width: 11px 15px 0;
		}
	}

}

.crest-small {
	padding: 0;
	max-width: 40px;
	height: 40px;
}

.table-header {
	padding: 10px 0;
	background-color: $dark-grey;
	border-bottom: 1px solid $black;
	border-top: 1px solid $black;
}

h3 {
	margin-bottom: 20px;
	margin-top: 0;
	span {
		font-weight: normal;
	}	
} 

.banner {
	background-size: cover;
	background-position: center center;
	height: 300px;
}

ul {
	padding: 0;
	list-style-type: none;	
}

h1 {
	margin: 20px 0;
}

p {
	margin: 0;
}

h1.striked, h3.striked {
	position: relative;
	text-align: center;

	&:before {
		@media only screen and (min-width: #{$sm-min}px) {
			background: $iron;
			content: "";
			display: block;
			height: 1px;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
		}
	}
	
	span {
		background: $white;
	  	padding: 0 20px;
	  	position: relative;
	  	z-index: 1;
	  	font-size: 27px;
	  	color: $paynes-grey;
	}
}

